{
    "semi": true,
    "singleQuote": true,
    "printWidth": 100,
    "trailingComma": "es5",
    "tabWidth": 4,
    "endOfLine": "lf",
    "bracketSpacing": true,
    "bracketSameLine": true,
    "arrowParens": "avoid",
    "spaceBeforeFunctionParen": true,
    "proseWrap": "preserve"
}
